<?xml version="1.0"?>
<launch>
	<group ns="record">
		<param name="path_save" type="str" value="/home/li/Downloads/bag"	/>
		<param name="topic" 	type="str" value="/robot_pose /AuxLocator/laser_odom_to_init"/>
		<param name="file_name" type="str" value="record"	/>
        <param name="seconds" value="180"	/>
		<node name="yd_record" pkg="yd_record" type="yd_record" output="screen" respawn="false"/>
	</group>

</launch>
