<!-- 
  Simulate a carlike robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>

	<param name="use_sim_time" value="false" />
	
	
	<!--  ****** TF *****  -->
	<!-- <node pkg="tf" type="static_transform_publisher" name="lidar_to_base" args="0.0 0.0 0 0 0 0.0 /lidar_pose /base_link 10" respawn="true">
</node> -->
	<!--  ****** Maps *****  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find navigation_cli)/maps/bj.yaml" output="screen" respawn="true">
		<param name="frame_id" value="map"/>
	</node>

    <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
		<!-- costmap -->
  	  	<rosparam file="$(find navigation_cli)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find navigation_cli)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find navigation_cli)/params/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find navigation_cli)/params/local_costmap_params.yaml" command="load" />
		<!-- planner -->
		<rosparam file="$(find navigation_cli)/params/move_base_params.yaml" command="load" />
		<rosparam file="$(find navigation_cli)/params/global_planner_params.yaml" command="load" />
		<rosparam file="$(find navigation_cli)/params/dwa_planner_params.yaml" command="load" />
		<param name="TrajectoryPlannerROS/acc_lim_theta" value="1.2" />
		<param name="TrajectoryPlannerROS/max_vel_theta" value="0.2" />
		<param name="TrajectoryPlannerROS/min_in_place_vel_theta" value="0.1" />
	</node>
</launch>
