<launch>

  <node pkg="path_sim" type="loop_planning_server" name="loop_planning_server" output="screen" respawn="false" >
  <param name="max_velocity" value="0.6" />
  <param name="max_angular" value="0.6" />
  <param name="cmd_topic" value="/mobile_base/commands/velocity/t" />
  <param name="frequency" value="10" />
  </node>

</launch>
